_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
_site
*.gem
*.log
script
.jekyll-metadata*
*.rb
psp*.jbf
docs/bsh/
docs/dps/
docs/engines/
docs/hsql/
borrador_ingles.txt
.project
.travis.yml
robots.txt
*.xcf
lista-rougify.txt
_papelera/
canonicos.sh

