<h1 id="ps-agents-archives">
{{ site.data.table-archives-heads[0].head[page.lang] }}
</h1>

<div class="contentContainer">
<table class="overviewSummary" summary="Third party API and User Guides" cellspacing="0" cellpadding="3" border="0">

<tbody>
<caption>
  <span>{{ site.data.table-archives-heads[0].title[page.lang] }}
  </span>
<span class="tabEnd">&nbsp;</span>
</caption>

<tr>
<th class="colFirst" scope="col">{{ site.data.table-archives-heads[0].field01[page.lang] }}</th>
<th class="colLast" scope="col">{{ site.data.table-archives-heads[0].field02[page.lang] }}</th>
</tr>
</tbody>


<tbody>

{% for item in site.data.table-archives %}

<tr class="altColor">
<td class="colFirst">
  {% if item.web %}
    <a href="{{ item.link }}" target="_blank">
  {% endif %}
  {% if item.web != true %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" target="_blank">
  {% endif %}
  <img src="{{ site.url }}{{ site.baseurl }}/assets/imgs/{{ item.imag }}" align="left" 
     width="{{ item.size }}">
  {{ item.name }}
  </a>
</td>
<td class="colLast">
<div class="block">
{{ item.title }}
<br>
<small>Author: {{ item.author }}</small>
</div></td>
</tr>

{% endfor %}


</tbody>
</table>
</div>


