<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col-1">
        <p class="feed-subscribe">
          <a href="{{ site.data.dpsFramework.feed[page.lang] | relative_url }}">
            <svg class="svg-icon">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>

        {%- if site.author %}
           <ul class="contact-list">
       
            {% if site.author.name -%}
              {% if site.author.email -%}
                <li>
          <a class="u-email" href="mailto:{{ site.author.email }}">
          <img class="u-email"  src="{{ site.baseurl  }}/assets/imgs/email.png" height="17px">
            <span>E-mail</span>
          </a>
        </li>
              {%- endif %}
            {% endif -%}
      
            {% if site.author.collabratech -%}
              <li><a href="{{ site.author.collabratech }}" target="blank">
          <img class="u-email"  src="{{ site.baseurl  }}/assets/imgs/collabratec_logo_img.png" height="35px"></a>
        </li>
            {% endif -%}
           </ul>
        {%- endif %}
        
        <div class="social-links">
          {%- include social.html -%}
        </div>
        
      </div>


      <div class="footer-col">
        <p>
          <a href="{{ site.baseurl }}/{{ site.data.dpsFramework.index[page.lang] }}">
            <img src="{{ site.baseurl }}/assets/imgs/dpsframework.png"
            align="left" width="91px" alt="Home">
          </a>
          {{ site.data.dpsFramework.description[page.lang] | escape }}
        </p>
        
        {% include acknowledgments.html %}	
    
        
      </div>



      



    </div>
    
    


  </div>

</footer>
