 {% assign papers    = site.papers    | sort: "year" | reverse | where:"lang", page.lang  %}
 {% assign proposals = site.proposals | sort: "date" | reverse | where:"lang", page.lang  %}
 {% assign paginas   = site.pages     | where:"lang", page.lang %}
 {% assign guias     = site.guides    | where:"lang", page.lang | where:"chapter", 0 %}
 {% assign notes     = site.notes     | where:"lang", page.lang %}





<!-- Proposals -->
  <div class="sidebar-title">
    {{ site.data.i18n[page.lang]['proposalsH1'] }}:
  </div>
  {% for proposal in proposals %}
    <a class="page-link"
       href="{{ site.baseurl }}{{ proposal.url}}">
      {{ proposal.shorttitle  }}
    </a>
    ~ GitHub: 
    {%- if proposal.githubrepo -%}&nbsp;<a rel="page-link" href="https://github.com/dpsframework/{{ proposal.githubrepo | cgi_escape | escape }}" target="_blank" title="{{ proposal.githubrepo | escape }}"><svg class="svg-icon blue"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>{%- endif -%}    
    <p class="sidebar-meta">
     &#8226; {{ proposal.title }} 
    </p>
  {% endfor %}







<!-- Guides and Manuals -->
  <div class="sidebar-title">
    {{ site.data.i18n[page.lang]['guideH1'] }}:
  </div>

  {% for guia in guias %}
    <a class="page-link"
     href="{{ site.baseurl }}{{ guia.url}}">
     {{ guia.title }}
    </a>
    <p class="sidebar-meta">
    &#8226; {{ guia.shorttitle }}
    </p>
  {% endfor %}



<!-- Notes and Posts -->
  <div class="sidebar-title">
    {{ site.data.i18n[page.lang]['noteH1'] }}:
  </div>

  {% for note in notes %}
  <a class="page-link"
    href="{{ site.baseurl }}{{ note.url}}">
    {{ note.title }}
  </a>
    <p class="sidebar-meta">
    &#8226; {{ note.shorttitle }}
    </p>
  
  {% endfor %}




<!-- Essays -->
  <div class="sidebar-title">
    {{ site.data.i18n[page.lang]['paperH1'] }}:
  </div>

  {% for paper in papers %}
  <a class="page-link"  
     href="{{ site.baseurl }}{{ paper.url}}">
     {{ paper.title }}
    </a>
    <p class="sidebar-meta">
    &#8226; {{ paper.shorttitle }}
    </p>
  {% endfor %}


