<!-- Main collections labels in dpsFramework website -->
{% assign       coLabels = "essays, manuals, projects, notes, posts" | split: ", "  %}



{% for coLabel in coLabels %}

<!-- Hardcode about: Posts and Notes. They are together -->
  {%   assign lt = coLabel     | append: "H1" %}
  {%   assign lh = coLabel    %}
  {%   if     lh == "posts" %}
    {% assign lh =  "notes" %}  
  {% endif %}

<!-- Special order in this collection -->
  {% if coLabel == "manuals" %}
    {% assign orderColl = site[coLabel]  | where:"lang", page.lang | where:"chapter", 0 %}
  {% else %}
    {% assign orderColl = site[coLabel] | sort: "year" | reverse | where:"lang", page.lang   %}  
  {% endif %}

<!-- Collections header and links -->
  {% if pushHeader %}
    <div class="sidebar-title">
      <a  href="/{{ lh }}{{ sufijo }}.html#{{coLabel}}">
        {{ site.data.i18n[page.lang][ lt ]  }}
      </a>
    </div>
  {% endif %}




<!-- List documents on landing right side -->
  <ul>
  {% for item in orderColl  %}
    {% if item.lang == page.lang %}
      <div class="page-link">
         <li><a href="{{ site.baseurl }}{{ item.url}}">
           {{ item.title }}
         </a></li>
     </div>
    {% endif %}
  {% endfor %}
  </ul>
<br>
{% endfor %}
<br>