 {% assign papers    = site.papers    | sort: "year" | reverse | where:"lang", page.lang  %}
 {% assign proposals = site.proposals | sort: "modified" | reverse | where:"lang", page.lang  %}
 {% assign paginas   = site.pages     | where:"lang", page.lang %}
 {% assign guias     = site.guides    | where:"lang", page.lang | where:"chapter", 0 %}
 {% assign notes     = site.notes     | where:"lang", page.lang %}
 {% assign drafts    = site.posts     | where:"lang", page.lang %}
 {% assign sufijo = "_" | append: page.lang %}





<!-- Guides and Manuals -->
  <div class="sidebar-title">
    <a  href="/guides{{ sufijo }}.html">
      <strong>{{ site.data.i18n[page.lang]['guidesH1'] }}</strong>
    </a>
  </div>

  {% for guia in guias %}
    <a class="page-link"
     href="{{ site.baseurl }}{{ guia.url}}">
     {{ guia.title }}
    </a>
    <p class="sidebar-meta">
    &#8226; {{ guia.shorttitle }}
    </p>
  {% endfor %}



<!-- Notes and Posts -->
  <div class="sidebar-title">
    <a  href="/notes{{ sufijo }}.html">
     <strong>{{ site.data.i18n[page.lang]['notesH1'] }}</strong>
    </a>
  </div>

  {% for note in notes %}
  <a class="page-link"
    href="{{ site.baseurl }}{{ note.url}}">
    {{ note.title }}
  </a>
  
    <p class="sidebar-meta">

    {%- assign date_format = "%b %-d, %Y" -%}
    <time class="dt-published" 
      datetime="{{ note.date | date_to_xmlschema }}" itemprop="datePublished">
      ({{ note.date | date: date_format }}) 
    </time>

    &#8226; {{ note.shorttitle }}
    </p>
  
  {% endfor %}











<!-- Essays -->
  <div class="sidebar-title">
    <a href="/papers{{ sufijo }}.html">
     <strong>{{ site.data.i18n[page.lang]['papersH1'] }}</strong>
    </a>
  </div>

  {% for paper in papers %}
  <a class="page-link"  
     href="{{ site.baseurl }}{{ paper.url}}">
     {{ paper.title }}
    </a>
    <p class="sidebar-meta">
    &#8226; {{ paper.shorttitle }}
    </p>
  {% endfor %}






<!-- Drafts -->
  <div class="sidebar-title">
    <a href="/papers{{ sufijo }}.html">
     <strong>{{ site.data.i18n[page.lang]['draftsH1'] }}</strong>
    </a>
  </div>

  {% for draft in drafts %}
  <a class="page-link"  
     href="{{ site.baseurl }}{{ draft.url}}">
     {{ draft.title }}
    </a>
    <p class="sidebar-meta">
    &#8226; {{ draft.shorttitle }}
    </p>
  {% endfor %}


