<!-- Targets and Ancestors -->
<div class="mini-banner-right">
  <h1></h1>
  <blockquote>
    {{ site.data.dpsFramework.target[page.lang] }}
  </blockquote>
  <ol>
    <li>{{ site.data.dpsFramework.target_1st[page.lang] }}
    <li>{{ site.data.dpsFramework.target_2nd[page.lang] }}
    <li>{{ site.data.dpsFramework.target_3rd[page.lang] }}
  </ol>

</div>

<!-- Presentacion cuatro areas -->
<div>
  <h1></h1>
  <blockquote>
    {{ site.data.dpsFramework.areas[page.lang] }}
  </blockquote>

  {% include home-cuatro-areas.html %}

  <strong>[1]<a  href="/proposals{{ sufijo }}.html">
  <i>{{ site.data.i18n[page.lang]['proposalsH1'] }}:</i>
  </strong>  </a>
  {{ site.data.dpsFramework.home-proposals[page.lang] }}
  <h3> </h3>
  
  
  <strong>[2] <a  href="/guides{{ sufijo }}.html">
  <i>{{ site.data.i18n[page.lang]['guidesH1'] }}:</i>
  </strong> </a>
  {{ site.data.dpsFramework.home-guides[page.lang] }}
  <h3> </h3>
  
  
  <strong>[3]<a  href="/notes{{ sufijo }}.html">
  <i>{{ site.data.i18n[page.lang]['notesH1'] }}:</i>
  </strong>  </a>
  {{ site.data.dpsFramework.home-notes[page.lang] }}
  <h3> </h3>
  
  
  <strong>[4]<a  href="/papers{{ sufijo }}.html">
  <i>{{ site.data.i18n[page.lang]['papersH1'] }}:</i>
  </strong>  </a>
  {{ site.data.dpsFramework.home-papers[page.lang] }}
  <h3> </h3>
  
  
</div>
