
  
<div class="wrapper">
  <header class="paper-header">
    <div class="main-col-wrapper">





      <!-- Columna izquierda -->
      <div class="main-col-1">

        <div class="sidebar-title">
          {% assign lt = page.ref  | append: "H1" %}   
          {{ site.data.i18n[page.lang][ lt ] }}:
        </div>      
        {% assign ht = "home-" | append: page.ref %}        
        {{ site.data.dpsFramework[ ht ][ page.lang ] }}<h1></h1>
        
        {% include home-cuatro-areas.html %}

      </div>









      <!-- Cuerpo derecho -->
      <div class="main-col">
        
        <h1></h1>
        <!-- Asiginaciones globales -->
        
 {% assign papers    = site.papers    | sort: "year" | reverse | where:"lang", page.lang  %}
 {% assign proposals = site.proposals | sort: "date" | reverse | where:"lang", page.lang  %}
 {% assign paginas   = site.pages     | where:"lang", page.lang %}
 {% assign guias     = site.guides    | where:"lang", page.lang | where:"chapter", 0 %}
 {% assign notes     = site.notes     | where:"lang", page.lang %}





        <!-- Areas -->
        
        
        <!-- Propuestas -->
        {% if page.ref == "proposals" %}
        {% for proposal in proposals %}

        <div class="mini-banner-right">
          <div class="site-title">
            <a class="page-link"
               href="{{ site.baseurl }}{{ proposal.url}}">
               {{ proposal.title  }} 
            {% if proposal.images[0] %}
               <img class="mini-banner-right"
               src="proposals/{{ proposal.imagepath }}{{ proposal.images[0] }}" 
               alt="{{ proposal.title }}" >
            {% endif %}   
            </a>
          </div>

          <h4>{{ proposal.ref | cgi_escape | escape }}
          {%- assign date_format = "%b %-d, %Y" -%}
          <time class="dt-published" datetime="{{ proposal.date | date_to_xmlschema }}" itemprop="datePublished">&nbsp;({{ proposal.date | date: date_format }})
          </time>
          </h4>

 

          <h3>{{ proposal.headtitle }}  </h3>
        
           
           <strong>{{  site.data.i18n[page.lang].objective }}:</strong>
             {{ proposal.subtitle }}
           <br>
     
           {%- if proposal.ref -%}
             <strong>{{  site.data.i18n[page.lang].repo }}: </strong>
             <a rel="page-link" href="https://github.com/dpsframework/{{ proposal.ref | cgi_escape | escape }}" target="_blank" title="{{ proposal.ref | escape }}">
             <strong>● GitHub:</strong> <svg class="svg-icon blue"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
             https://github.com/dpsframework/{{ proposal.ref | cgi_escape | escape }}</a>
             <br>
           {%- endif -%}  
             
           <strong>{{  site.data.i18n[page.lang].status}}:</strong>      {{ proposal.status }}<br>
           <strong>{{  site.data.i18n[page.lang].proposedby }}:</strong> {{ proposal.author }}<br>
           <strong>{{  site.data.i18n[page.lang].published }}:</strong>    {{ proposal.date | date: date_format }}<br>
           <strong>{{  site.data.i18n[page.lang].license }}: </strong>    {{ proposal.license }}<br>
       
           <hr>
       
        </div>
        {% endfor %}
        {% endif %}








        <!-- Manuales -->
        {% if page.ref == "guides" %}
        {% for guia in guias %}
        
        {% assign cPath = guia.url |  slice: 1, guia.url.size %}
        {% assign pathParts = cPath | split: "/" %}       
        {% assign length = pathParts.size | minus: 2 %}
        {% assign path = "" %}
        {% for c in (0..length) %}
          {% capture path %}{{ path }}/{{pathParts[c]}}{% endcapture %}
        {% endfor %}

        
        <div class="mini-banner-right">
          <div class="site-title">
            <a class="page-link"
               href="{{ site.baseurl }}{{ guia.url}}">
               {{ guia.title  }} 
            {%- if guia.images[0] -%}
              <img class="mini-banner" 
                 src="{{ path }}/{{ guia.imagepath }}{{ guia.images[0] }}"  alt="{{ guia.shorttitle }}" >
            {%- endif -%}
            </a>
          </div>
       

          <i>{{ guia.author }}</i><br>
          <i>Editor  {{ guia.editor }}</i>
          <br> 
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <time class="dt-published" datetime="{{ guia.date_published | date_to_xmlschema }}" itemprop="datePublished">
          {{ guia.date_published | date: date_format }}
          </time>
          <h2> </h2>


          <strong>{{  site.data.i18n[page.lang].author }}:</strong> {{ guia.author }}<br>
          <strong>{{  site.data.i18n[page.lang].published }}:</strong>    {{ guia.pubdate }}<br>
          <strong>{{  site.data.i18n[page.lang].license }}: </strong>    {{ guia.license }}<br>


          <hr>

        </div>           
        {% endfor %}
        {% endif %}


























        <!-- Notas o posts -->
        {% if page.ref == "notes" %}
        {% for note in notes %}
        
        <div class="mini-banner-right">
          <div class="site-title">
            <a class="page-link"
               href="{{ site.baseurl }}{{ note.url}}">
               {{ note.title  }} 
            {%- if note.images[0] -%}
              <img class="mini-banner" 
                 src="{{ note.imagepath }}{{ note.images[0] }}"  alt="{{ note.shorttitle }}" >
            {%- endif -%}
            </a>
          </div>

          {%- assign date_format = "%b %-d, %Y" -%}
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">&nbsp;({{ note.date | date: date_format }})
          </time>
       
          <h2> </h2>
          
          <strong>{{  site.data.i18n[page.lang].status  }}:</strong>      {{ note.status }}<br>
          <strong>{{  site.data.i18n[page.lang].proposedby  }}:</strong> {{ note.author }}<br>
          <strong>{{  site.data.i18n[page.lang].published  }}:</strong>   {{ note.pubdate }}<br>
          <strong>{{  site.data.i18n[page.lang].updateon  }}:</strong>   {{ note.modified_date }}<br>
          <strong>{{  site.data.i18n[page.lang].license  }}: </strong>    {{ note.license }}<br>
       
          <hr>

        </div>           
        {% endfor %}
        {% endif %}






















        <!-- Papers o ensayos -->
        {% if page.ref == "papers" %}
        {% for paper in papers %}
        
        {% assign cPath = paper.url |  slice: 1, paper.url.size %}
        {% assign pathParts = cPath | split: "/" %}       
        {% assign length = pathParts.size | minus: 2 %}
        {% assign path = "" %}
        {% for c in (0..length) %}
          {% capture path %}{{ path }}/{{pathParts[c]}}{% endcapture %}
        {% endfor %}

        
        <div class="mini-banner-right">
          <div class="site-title">
            <a class="page-link"
               href="{{ site.baseurl }}{{ paper.url}}">
               {{ paper.title  }} 
            {%- if paper.images[0] -%}
              <img class="mini-banner" 
                 src="{{ path }}/{{ paper.imagepath }}{{ paper.images[0] }}"  alt="{{ paper.shorttitle }}" >
            {%- endif -%}
            </a>
          </div>
       
          <strong>{{ paper.author }}
             {%- if paper.authors -%}
               {% for author in paper.authors %}, {{ author }}
               {% endfor %}
             {%- endif -%}
          </strong>
          <br>
          <i>{{ paper.department }}</i>
          <h2> </h2>
          <strong>{{  site.data.i18n[page.lang].editor  }}:</strong>      {{ paper.editor }}<br>
          <strong>{{  site.data.i18n[page.lang].citation  }}:</strong>    {{ paper.citation }}<br>
          <strong>{{  site.data.i18n[page.lang].published  }}:</strong>   {{ paper.pubdate }}<br>
          <strong>{{  site.data.i18n[page.lang].license  }}: </strong>    {{ paper.license }}<br>
       
          <hr>

        </div>           
        {% endfor %}
        {% endif %}


        
      </div>

    <!-- Final de composicion de pagina home-areas -->
    </div>
  </header>  

</div>

