
<!-- Main collections in dpsFramework website -->
{% assign       labels = "essays, manuals, projects, notes, posts" | split: ", "  %}


{% for label in labels %}

<!-- Posts and Notes are together -->
  {%   assign lt = label     | append: "H1" %}
  {%   assign lh = label    %}
  {%   if     lh == "posts" %}
    {% assign lh =  "notes" %}  
  {% endif %}

<!-- Order in collections -->
  {% if label == "manuals" %}
    {% assign orderColl = site[label]  | where:"lang", page.lang | where:"chapter", 0 %}
  {% else %}
    {% assign orderColl = site[label] | sort: "year" | reverse | where:"lang", page.lang   %}  
  {% endif %}

<!-- Collections header and links -->
  {% if pushHeader %}
    <div class="sidebar-title">
      <a  href="/{{ lh }}{{ sufijo }}.html">
        {{ site.data.i18n[page.lang][ lt ]  }}
      </a>
    </div>
  {% endif %}




<!-- List documents on right side -->
  <ul>
  {% for item in orderColl  %}
    {% if item.lang == page.lang %}
      <div class="page-link">
         <li><a href="{{ site.baseurl }}{{ item.url}}">
           {{ item.title }}
         </a></li>
     </div>
    {% endif %}
  {% endfor %}
  </ul>
<br>
{% endfor %}
<br>