
<div class="mini-banner">

<blockquote>
  {{ site.data.dpsFramework.motto[page.lang] }}
</blockquote>

  <a href="/assets/imgs/psPrecogAgent00.png" target="blank">
    <img class="mini-banner" 
         src="/assets/imgs/psPrecogAgent00.png">
  </a>

  <a href="/assets/imgs/psPrecogAgent01.png" target="blank">
    <img class="mini-banner" 
         src="/assets/imgs/psPrecogAgent01.png">
  </a>



  <strong><i>Fig. 1</i></strong>.&nbsp; 
  {{ site.data.dpsFramework.home-fig1[page.lang] }}
  
       
</div>
