 {% assign papers    = site.papers    | sort: "year" | reverse | where:"lang", page.lang  %}
 {% assign proposals = site.proposals | sort: "modified" | reverse | where:"lang", page.lang  %}
 {% assign paginas   = site.pages     | where:"lang", page.lang %}
 {% assign guias     = site.guides    | where:"lang", page.lang | where:"chapter", 0 %}
 {% assign notes     = site.notes     | where:"lang", page.lang %}
 {% assign drafts    = site.posts     | where:"lang", page.lang %}
 {% assign sufijo = "_" | append: page.lang %}





<!-- Guides and Manuals -->



<!-- Manuales -->
       
  <div class="sidebar-title">
    <a  href="/guides{{ sufijo }}.html">
      <strong>{{ site.data.i18n[page.lang]['guidesH1']   | upcase   }}</strong>
    </a>
  </div>
 
  
  
  {% for guia in guias %}
  <div>
    <a class="page-link"
     href="{{ site.baseurl }}{{ guia.url}}">
     {{ guia.title  | upcase  }}
     {%- if guia.images[0] -%}
        <img class="mini-banner-right"
             src="{{ guia.url }}/../{{ guia.imagepath }}{{ guia.images[0] }}"  
	   alt="{{ guia.shorttitle }}"  align="right" width="80px">
     {%- endif -%}
    </a>
    <br><br>
    <strong>{{  site.data.i18n[page.lang].author }}:</strong> {{ guia.author }}<br>
    <strong>{{  site.data.i18n[page.lang].editor }}:</strong>    {{ guia.editor }}<br>
    <strong>{{  site.data.i18n[page.lang].published }}:</strong>    {{ guia.pubdate | date: "%b %-d, %Y" }}<br>
    <strong>{{  site.data.i18n[page.lang].license }}: </strong>    {{ guia.license }}<br>
    
    <br><hr width="100px" height="1px">

  </div>  
  {% endfor %}



<!-- Notes and Posts -->
  <div class="sidebar-title">
    <a  href="/notes{{ sufijo }}.html">
     <strong>{{ site.data.i18n[page.lang]['notesH1'] | upcase }}</strong>
    </a>
  </div>

  {% for note in notes %}
  <a class="page-link"
    href="{{ site.baseurl }}{{ note.url}}">
    {{ note.title }}
  </a>
  
    <p class="sidebar-meta">

    {%- assign date_format = "%b %-d, %Y" -%}
    <time class="dt-published" 
      datetime="{{ note.date | date_to_xmlschema }}" itemprop="datePublished">
      ({{ note.date | date: date_format }}) 
    </time>

    &#8226; {{ note.shorttitle }}
    </p>
  
  {% endfor %}











<!-- Essays -->
  <div class="sidebar-title">
    <a href="/papers{{ sufijo }}.html">
     <strong>{{ site.data.i18n[page.lang]['papersH1']  | upcase }}</strong>
    </a>
  </div>

  {% for paper in papers %}
  <div>
  <a class="page-link"  
     href="{{ site.baseurl }}{{ paper.url}}">
     {{ paper.title  | upcase  }}
     {%- if paper.images[0] -%}
        <img class="mini-banner-right"
             src="{{ paper.url }}/../{{ paper.imagepath }}{{ paper.images[0] }}"  
	   alt="{{ paper.shorttitle }}"  align="right" width="80px">
     {%- endif -%}
    </a>
    <br><br>
    <p>
    <strong>{{  site.data.i18n[page.lang].author }}:</strong> {{ paper.author }}<br>
    <strong>{{  site.data.i18n[page.lang].department }}:</strong>    {{ paper.department }}<br>
    <strong>{{  site.data.i18n[page.lang].published }}:</strong>    {{ paper.pubdate | date: "%b %-d, %Y" }}<br>
    <strong>{{  site.data.i18n[page.lang].license }}: </strong>    {{ paper.license }}<br>
    </p>
    <hr width="100px" height="1px">

  </div>  
  {% endfor %}






<!-- Drafts -->
  <div class="sidebar-title">
    <a href="/papers{{ sufijo }}.html">
     <strong>{{ site.data.i18n[page.lang]['draftsH1'] | upcase  }}</strong>
    </a>
  </div>

  {% for draft in drafts %}
  <a class="page-link"  
     href="{{ site.baseurl }}{{ draft.url}}">
     {{ draft.title | upcase  }}
     {%- if draft.images[0] -%}
        <img 
             src="assets/imgs/{{ draft.images[0] }}"  
	   alt="{{ draft.shorttitle }}"  align="right" width="60px">
     {%- endif -%}
    </a>
    <br><br>
    <p>
    <strong>{{  site.data.i18n[page.lang].author }}:</strong> {{ draft.author }}<br>
    <strong>{{  site.data.i18n[page.lang].department }}:</strong>    {{ draft.department }}<br>
    <strong>{{  site.data.i18n[page.lang].published }}:</strong>    {{ draft.date | date: "%b %-d, %Y" }}<br>
    <strong>{{  site.data.i18n[page.lang].license }}: </strong>    {{ draft.license }}<br>
    </p>
    <hr width="100px" height="1px">

  {% endfor %}


