[ {% assign colPo=site.essays | where:"ref", page.ref | sort: 'lang' | reverse  %}
  {% for po in colPo %} 
     <a href="{{ po.url | prepend: site.baseurl }}" class="{{ po.lang }}">
     • {{ site.data.i18n[po.lang].language  }}&nbsp;
     </a>
  {% endfor %}
  {% assign colPo=site.manuals | where:"ref", page.ref | sort: 'lang' | reverse  %}
  {% for po in colPo %} 
     <a href="{{ po.url | prepend: site.baseurl }}" class="{{ po.lang }}">
     • {{ site.data.i18n[po.lang].language  }}&nbsp;
     </a>
  {% endfor %}
  {% assign colPo=site.notes | where:"ref", page.ref | sort: 'lang' | reverse  %}
  {% for po in colPo %} 
     <a href="{{ po.url | prepend: site.baseurl }}" class="{{ po.lang }}">
     • {{ site.data.i18n[po.lang].language  }}&nbsp;
     </a>
  {% endfor %}
  {% assign colPo=site.projects | where:"ref", page.ref | sort: 'lang' | reverse  %}
  {% for po in colPo %} 
     <a href="{{ po.url | prepend: site.baseurl }}" class="{{ po.lang }}">
     • {{ site.data.i18n[po.lang].language  }}&nbsp;
     </a>
  {% endfor %}
  {% assign colPo=site.posts | where:"ref", page.ref | sort: 'lang' | reverse  %}
  {% for po in colPo %} 
     <a href="{{ po.url | prepend: site.baseurl }}" class="{{ po.lang }}">
     • {{ site.data.i18n[po.lang].language  }}&nbsp;
     </a>
  {% endfor %}
  {% assign colPa=site.pages | where:"ref", page.ref | sort: 'lang' | reverse  %}
  {% for pa in colPa %} 
     <a href="{{ pa.url | prepend: site.baseurl }}" class="{{ pa.lang }}">
     • {{ site.data.i18n[pa.lang].language  }}&nbsp;
     </a>
  {% endfor %} ] 