---
layout: page
ref: category
---
<ul>
{% for post in site.categories[page.category]  %}
  {%- if post.lang == page.lang -%}
  <li>
    <a href="{{ post.url | prepend: site.baseurl }}"> {{ post.title }}</a>
    <ul>
      <li><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ post.date | date: date_format }}
      </time>
      {%- if post.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}&nbsp;</span></span>
      {%- endif -%}
    </ul>
    
    {{ post.excerpt }}    
  </li>
  {%- endif -%}
{% endfor %}
</ul>