---
layout: default
---

<div class="wrapper">
    <div class="main-col-wrapper">

      <div class="main-col">
            {{ content  }}
      </div>


      
      <div class="main-col-4">
 
      {% assign lessons = site.guides  | where:"manualcode", page.manualcode | where:"lang", page.lang %}


      {% for lesson in lessons %}
        {% if lesson.chapter == page.chapter %}

           {% if page.toc %}
             <div class="section-nav">
               {% include toc.html html=content %}
             </div>
           {% endif %}
           
        {% else %}
           {{ site.data.i18n[page.lang].chapter }}: 
           {{ lesson.chapter }}. &nbsp;
           <a href="{{ lesson.url |  prepend: site.baseurl }}"> 
           {{ lesson.headtitle }} 
           </a>
           <br>
        {% endif %}
      {% endfor %}

      

      </div>
      
      
      
      
      
    </div>
   {% include top-button.html %}
</div>
