---
layout: default
---

<div class="home">

 {% assign papers    = site.papers    | where:"lang", page.lang %}
 {% assign proposals = site.proposals | where:"lang", page.lang %}
 {% assign paginas   = site.pages     | where:"lang", page.lang %}
 {% assign guias     = site.guides    | where:"lang", page.lang %}
 {% assign posts     = site.posts     | where:"lang", page.lang %}


  <header class="paper-header">
    <div class="main-col-wrapper">
      <div class="main-col-3">
      
        <h3 id="paper-title p-name">
          {{ site.data.i18n[0][page.lang]['paperH1'] }}:
        </h3>       
        


        ● Website in the process of updating<br>
        (summer 2022).<br><br>
        Sorry for the inconvenience. <br>
        It will be ready in a couple of weeks.<br>
        



        

        

      </div>





      <div class="main-col">
         {{ content }}
      </div>

 



    </div>
    
  </header>  


</div>
