---
layout: default
---

<div class="wrapper">
    <div class="main-col-wrapper">

      <div class="main-col-1">
         {% if page.toc %}
         <div class="section-nav">
           {% include toc.html html=content %}
         </div>
         {% endif %}
      {% include home-sidebar.html %}
      </div>

      <div class="main-col">
        <div class="sidebar-title">
          {{ page.title }}:
        </div>

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <br>{{ page.date | date: date_format }}
        </time>        
        
        
        
        {{ content }}
      </div>

    </div>
  {% include top-button.html %}
</div>



