---
layout: base
---

{% include breadcrumbs.html %}
 <div class="home">
  <div class="main-col-wrapper">
    <div  class="main-col-4">

      <!-- Notes like an essays -->
      <div class="sidebar-title">
        <a  href="/notes_{{ page.lang }}.html">
          <h3>{{  site.data.i18n[page.lang][ 'notesH1' ]   }}</h3>
        </a>
      </div>
  
      <div class="mini-banner">
      <!-- Local image mapping applied to 4 areas -->
        {% assign sufijo = "_" | append: page.lang %}
        
        <img class="mini-banner" usemap="#4areas" align="left" 
               src="/assets/imgs/dpsframework4areas{{ sufijo }}.png">
          <map name="4areas">
             <area shape="rect" coords="0,0,109,109"     title="{{ site.data.i18n[page.lang]['projectsH1'] }}"   alt="Essays" href="../essays{{ sufijo }}.html">
             <area shape="rect" coords="109,0,218,109"   title="{{ site.data.i18n[page.lang]['manualsH1'] }}"    alt="Manuals"  href="../manuals{{ sufijo }}.html">     
             <area shape="rect" coords="0,109,109,218"   title="{{ site.data.i18n[page.lang]['notesH1'] }}"      alt="Projects"   href="../projects{{ sufijo }}.html">   
             <area shape="rect" coords="109,109,218,218" title="{{ site.data.i18n[page.lang]['essaysH1'] }}"     alt="Notes"    href="../notes{{ sufijo }}.html">
          </map>


        {% assign mdStrings = "headtitle, author, year, status, license, traductor, shorttitle, citation"   | split: ", " %}
        {% assign mdDates   = "pubdate, modified_date" | split: ", " %}
        
        <small>
        {% for md in mdStrings %}
          <strong>{{  site.data.i18n[page.lang][md]}}:</strong> {{ page[md] }}<br>
        {% endfor %}
        
        {% for md in mdDates %}
           <strong>{{  site.data.i18n[page.lang][md] }}:</strong> {{ page[md] | date: date_format }}<br>
        {% endfor %}
        </small>
        <hr>
      </div>
      {% if page.toc %}
        <div class="section-nav">
         <strong>{{site.data.i18n[page.lang]['tocH1'] }}:</strong>&nbsp;{{ page.title }}<br>
         {% include toc.html html=content %}
         {%- include language-selector.html -%}
         <img src="{{ site.baseurl }}/assets/imgs/internet.png">
        </div>
      {% endif %}
    </div>

    <div class="main-col">
      <h2 class="paper-title">{{ page.title }}</h2>
      {{ content }}
    </div>
  </div>
  {% include top-button.html %}
</div>
