---
layout: default
---

<div class="wrapper">
  <div class="main-col-wrapper">
  


    
    <div class="main-col">
      {{ content }}
    </div>





  <!-- Proposal for Upgrades -->
  <div class="main-col-4">


    <div class="sidebar-title">
      {{ site.data.i18n[page.lang]['proposalH1'] }}:
    </div>
      

    <div class="mini-banner-right">
    
    
      {%- if page.images[0] -%}
         <a rel="page-link" href="https://github.com/dpsframework/{{ page.githubrepo | cgi_escape | escape }}" target="_blank" title="{{ page.githubrepo | escape }}">
         <img class="mini-banner-right"
              src="{{ page.imagepath }}{{ page.images[0] }}" 
              alt="{{ page.shorttitle }}" >
         </a>
     {%- endif -%}   
    
    
  
   
       <h2>{{ page.title }}</h2>
 

  
      ● {{ page.shorttitle  }} ~  
      {%- if page.githubrepo -%}&nbsp;
        <a rel="page-link" href="https://github.com/dpsframework/{{ page.githubrepo | cgi_escape | escape }}" target="_blank" title="{{ page.githubrepo | escape }}">
        <strong>GitHub:</strong> <svg class="svg-icon blue"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
        </a><br>
      {%- endif -%}  

    
 
     

       
       <small>
       <strong>Status:</strong>      {{ page.status }}<br>
       <strong>Publised:</strong>    {{ page.date_published }}<br>
       <strong>License: </strong>    {{ page.license }}<br>
       </small>
       
       

     </div>
     


     <div class="section-nav">
       {% include toc.html html=content %}
     </div>
      

  </div>
  {% include top-button.html %}     

</div>
      
</div>

