---
layout: default
---

<div class="wrapper">
  <div class="main-col-wrapper">
  


    
    <div class="main-col">
      <div class="sidebar-title">
        {{ page.shorttitle }} <h1> </h1>
        {{ page.headtitle }}  <h2> </h2>
      </div>
      {{ content }}



      <br>
      <hr>
      {%- if page.license  -%}
        <small><strong>License: </strong>{{ page.license }}</small><br>
      {%- endif -%}
      {%- if page.editor  -%}
        <small><strong>Editor: </strong>{{ page.editor }}</small><br>
      {%- endif -%}
      {%- if page.doi  -%}
        <small><strong>DOI: </strong>{{ page.doi }}</small><br>
      {%- endif -%}
      {%- if page.updates  -%}
        <small><strong>Updates at: </strong>{{ page.updates }}</small><br>
      {%- endif -%}
      {%- if page.citation  -%}
        <small><strong>Citation: </strong>{{ page.citation }}</small><br>
      {%- endif -%}
     
      <br>

      {%- if page.modified_date and page.lang == "es" -%}
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        <small><i><strong>N. d T.</strong>&nbsp;last revised, {{ mdate | date: date_format }}.</i></small><br>
        </time>
      {%- endif -%}














      
    </div>





  <!-- Proposal for Upgrades -->
  <div class="main-col-4">


    <div class="sidebar-title">
      {{ site.data.i18n[page.lang]['proposalH1'] }}:
    </div>
      

    <div class="mini-banner-right">
    
    
      {%- if page.images[0] -%}
         <a rel="page-link" href="https://github.com/dpsframework/{{ page.githubrepo | cgi_escape | escape }}" target="_blank" title="{{ page.githubrepo | escape }}">
         <img class="mini-banner-right"
              src="{{ page.imagepath }}{{ page.images[0] }}" 
              alt="{{ page.shorttitle }}" >
         </a>
     {%- endif -%}   
    
       

       
      <strong>Objective:</strong>      {{ page.objective }}<br>
     
     
      {%- if page.githubrepo -%}
        <strong>Repo: </strong>
        <a rel="page-link" href="https://github.com/dpsframework/{{ page.githubrepo | cgi_escape | escape }}" target="_blank" title="{{ page.githubrepo | escape }}">
        <strong>● GitHub:</strong> <svg class="svg-icon blue"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
        </a>
        <br>
      {%- endif -%}  
     
     
     
      <strong>Status:</strong>      {{ page.status }}<br>
      <strong>Proposed by:</strong> {{ page.author }}<br>
      <strong>Publised:</strong>    {{ page.date_published }}<br>
      <strong>License: </strong>    {{ page.license }}<br>

       
       

     </div>
     

      
     {% if page.toc %}
       <div class="section-nav">
         {% include toc.html html=content %}
         {%- include language-selector.html -%}
         <img src="{{ site.baseurl }}/assets/imgs/internet.png">
       </div>
     {% endif %}
       
       
       
       
  </div>
  {% include top-button.html %}     

</div>
      
</div>

